---
swagger: "2.0"
info:
  description: Provides a RESTful API to state and configuration of things and channels
  version: 0.12.0
  title: IoT Gateway Service API
host: diva-e-iot-lab.northeurope.cloudapp.azure.com:8080
basePath: /
tags:
- name: configuration-resource
  description: Configuration Resource
- name: state-resource
  description: State Resource
schemes:
- http
- https
produces:
- application/json
paths:
  /api/configuration/:
    get:
      tags:
      - configuration-resource
      summary: getConfiguration
      operationId: configuration.get_all
      parameters: []
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/HardwareConfigurationResponse'
      security:
      - API Key:
        - global
      deprecated: false
  /api/configuration/things/{id}:
    get:
      tags:
      - configuration-resource
      summary: getThingConfiguration
      operationId: getThingConfigurationUsingGET
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ThingConfigurationResponse'
      security:
      - API Key:
        - global
      deprecated: false
    put:
      tags:
      - configuration-resource
      summary: putThing
      operationId: putThingUsingPUT
      consumes:
      - application/json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - in: body
        name: model
        description: model
        required: true
        schema:
          $ref: '#/definitions/ThingPutRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ThingPutResponse'
      security:
      - API Key:
        - global
      deprecated: false
    delete:
      tags:
      - configuration-resource
      summary: deleteThing
      operationId: deleteThingUsingDELETE
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      security:
      - API Key:
        - global
      deprecated: false
  /api/states/things:
    get:
      tags:
      - state-resource
      summary: Get a list of all available things
      operationId: getThingsUsingGET
      parameters: []
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/ThingStateResponse'
      security:
      - API Key:
        - global
      deprecated: false
  /api/states/things/{id}:
    get:
      tags:
      - state-resource
      summary: Get a thing by id
      operationId: getThingUsingGET
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ThingStateResponse'
      security:
      - API Key:
        - global
      deprecated: false
  /api/states/things/{thingId}/channels:
    get:
      tags:
      - state-resource
      summary: Get all channelStates of a thing with the provided thingId
      operationId: getChannelsUsingGET
      parameters:
      - name: thingId
        in: path
        description: thingId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/ChannelStateResponse'
      security:
      - API Key:
        - global
      deprecated: false
  /api/states/things/{thingId}/channels/{id}:
    get:
      tags:
      - state-resource
      summary: Get a channel by id of a thing with the provided thingId
      operationId: getChannelUsingGET
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - name: thingId
        in: path
        description: thingId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ChannelStateResponse'
      security:
      - API Key:
        - global
      deprecated: false
  /api/states/things/{thingId}/channels/{id}/value:
    post:
      tags:
      - state-resource
      summary: Set the desired value of a channelStates with the given value
      operationId: setChannelValueUsingPOST
      consumes:
      - application/json
      parameters:
      - in: body
        name: channelValueRequest
        description: channelValueRequest
        required: true
        schema:
          $ref: '#/definitions/ChannelValueRequest'
      - name: id
        in: path
        description: id
        required: true
        type: string
      - name: thingId
        in: path
        description: thingId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      security:
      - API Key:
        - global
      deprecated: false
securityDefinitions:
  API Key:
    type: apiKey
    name: X-Api-Key
    in: header
definitions:
  Channel:
    type: object
    required:
    - id
    - mode
    - name
    - properties
    - type
    properties:
      id:
        type: string
      name:
        type: string
      type:
        type: string
      mode:
        type: string
      properties:
        type: object
        properties: {}
      enabled:
        type: boolean
      description:
        type: string
    title: Channel
  ChannelConfigurationResponse:
    type: object
    required:
    - enabled
    - id
    - mode
    - name
    - properties
    - type
    properties:
      description:
        type: string
      enabled:
        type: boolean
      id:
        type: string
      mode:
        type: string
      name:
        type: string
      properties:
        type: object
        properties: {}
      type:
        type: string
    title: ChannelConfigurationResponse
  ChannelState:
    type: object
    properties:
      desired:
        type: object
        properties: {}
      lastUpdated:
        type: integer
        format: int64
      reported:
        type: object
        properties: {}
    title: ChannelState
  ChannelStateResponse:
    type: object
    required:
    - enabled
    - id
    - state
    - type
    properties:
      enabled:
        type: boolean
      id:
        type: string
      state:
        $ref: '#/definitions/ChannelState'
      type:
        type: string
    title: ChannelStateResponse
  ChannelValueRequest:
    type: object
    properties:
      value:
        type: object
        properties: {}
    title: ChannelValueRequest
  HardwareConfigurationResponse:
    type: object
    required:
    - things
    properties:
      things:
        type: array
        items:
          $ref: '#/definitions/ThingConfigurationResponse'
    title: HardwareConfigurationResponse
  Protocol:
    type: object
    required:
    - name
    properties:
      name:
        type: string
      properties:
        type: object
        properties: {}
    title: Protocol
  ThingConfigurationResponse:
    type: object
    required:
    - channels
    - enabled
    - id
    - name
    - properties
    properties:
      channels:
        type: array
        items:
          $ref: '#/definitions/ChannelConfigurationResponse'
      description:
        type: string
      enabled:
        type: boolean
      id:
        type: string
      name:
        type: string
      properties:
        type: object
        properties: {}
      protocol:
        $ref: '#/definitions/Protocol'
    title: ThingConfigurationResponse
  ThingPutRequest:
    type: object
    required:
    - name
    - properties
    properties:
      name:
        type: string
      properties:
        type: object
        properties: {}
      protocol:
        $ref: '#/definitions/Protocol'
      enabled:
        type: boolean
      channels:
        type: array
        items:
          $ref: '#/definitions/Channel'
      description:
        type: string
    title: ThingPutRequest
  ThingPutResponse:
    type: object
    required:
    - action
    properties:
      action:
        type: string
      token:
        type: string
    title: ThingPutResponse
  ThingStateResponse:
    type: object
    required:
    - channelStates
    - enabled
    - id
    properties:
      channelStates:
        type: array
        items:
          $ref: '#/definitions/ChannelStateResponse'
      enabled:
        type: boolean
      id:
        type: string
    title: ThingStateResponse
